<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.WelcomeServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>driver</param-name>
      <param-value>com.sun.cj.mysql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLifeCycle</display-name>
    <servlet-name>ServletLifeCycle</servlet-name>
    <servlet-class>com.ServletLifeCycle</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLifeCycle</servlet-name>
    <url-pattern>/servlife</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S1</display-name>
    <servlet-name>S1</servlet-name>
    <servlet-class>com.S1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S1</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S2</display-name>
    <servlet-name>S2</servlet-name>
    <servlet-class>com.S2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S2</servlet-name>
    <url-pattern>/s2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie1</display-name>
    <servlet-name>Cookie1</servlet-name>
    <servlet-class>com.Cookie1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie1</servlet-name>
    <url-pattern>/cookie1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie2</display-name>
    <servlet-name>Cookie2</servlet-name>
    <servlet-class>com.Cookie2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie2</servlet-name>
    <url-pattern>/cookie2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>co.registration.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>co.registration.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/displayUsers</url-pattern>
  </servlet-mapping>
</web-app>